@if (contact) {
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12">
        <h4>{{ contact.name }}</h4>
      </div>
      <div class="col-auto me-auto">
        <img src="{{ contact.imageUrl }}" style="max-height: 100px" />
      </div>
      <div class="col-auto align-self-center">
        <cms-button theme="primary" routerLink="edit">Edit</cms-button>
        <cms-button theme="danger" (click)="delete()">Delete</cms-button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form>
      <div class="form-floating mb-3">
        <cms-input
          type="text"
          name="email"
          label="Email"
          [value]="contact.name"
        ></cms-input>
        <input
          type="email"
          class="form-control-plaintext"
          id="email"
          readonly
          [value]="contact.email"
        />
        <label for="email">Email:</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control-plaintext"
          id="phone"
          readonly
          [value]="contact.phone"
        />
        <label for="phone">Phone:</label>
      </div>
    </form>
  </div>
</div>
}
